@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

:root {
    --main-color: hsl(0, 0%, 100%);
    --second-color: rgb(254 227 146);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; 
}

html {
    background-color: black;
}

body {
    font-family: "Agdasima", "Viga", "Agency FB", "Jersey 25";
    overflow: hidden;
}

a {
    color: var(--second-color);
    text-decoration: none;
    border-width: 0%;
    transition: border-width ease-in-out 500ms;

    &:hover {
        border-bottom: dashed white;
        border-bottom-width: 10px;
    }
}

#movies {
    overflow-x: hidden;
    height: inherit;
}

#right {
    position: absolute;
    height: 100%;
    width: 60px;
    z-index: 996;
    right: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 3em;
}

#left {
    position: absolute;
    height: 100%;
    width: 60px;
    z-index: 996;
    cursor: pointer;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3em;
}

.arrows{
    width: 5vw;
}

#loading {
    background-color: hsla(0, 0%, 100%, 0.158);
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity ease-out 500ms;
}

#loading.hidden{
    opacity: 0;
    transition: opacity ease-in 500ms;
    visibility: hidden;
}

#loading-icon{
    border: 10px solid white;
    border-top: 10px solid var(--second-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;

    animation: spin 1s linear infinite;
    transition: all ease-in-out 1s;
}

@keyframes spin{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

.mTitle {
    color: var(--main-color);
}

.info {
    transition: left ease-in-out 1500ms, top ease-in-out 1500ms;
    left: 0;
    position: absolute;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;

    &>#desc {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0rem 1rem 2rem 1rem;

        &>div>h1 {
            font-size: 4vw;
            /* font-family: "Viga"; */
            font-weight: 700;
        }

        &>p {
            line-height: 2rem;
            font-size: 1.2rem;
            font-weight: lighter;
            text-align: justify;

        }
    }
}

.movie-poster {

    height: auto;
    position: relative;
    left: 0;

}

.start {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20vh 0rem 3rem 0rem;

    &>#desc {
        align-items: center;

        &>div {
            text-align: center;

            &>h1 {
                font-size: 20vw;
                color: var(--main-color);
            }
        }

        &>p {
            width: 50%;
        }

    }
}

#error {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 0rem;
    overflow: hidden;

    &>#desc {
        scale: 1;
        width: fit-content;
        align-items: center;

        &>div {
            text-align: center;

            &>h1 {
                font-size: 10vw;
            }
        }

        &>p {
            font-size: 1.9rem;
            font-weight: lighter;
        }

    }

}

form {
    width: 100%;
    height: 10%;
    position: absolute;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    z-index: 998;
    padding: 1rem 0rem;
    transition: all ease-in-out 500ms;

    &>#search-bar {
        padding: 0.5rem 15vw 0.5rem 1rem;
        border: none;
        border-radius: 20px;
        text-align: start;
        transition: all ease-in-out 500ms, outline ease-in-out 200ms;
        height: 100%;
        width: 30%;

        &:hover {
            outline: double 5px var(--second-color);
        }

        &:focus {
            outline: none;
        }

        &:not(:focus) {
            border-radius: 50dvw;
            opacity: .2;

            &~#search-btn {
                transition: opacity ease-in-out 500ms;
                opacity: 0.2;
            }
        }

    }

    &>#search-btn {
        border: none;
        padding: 0.5rem 2rem;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color ease-in-out 500ms;

        &:hover {
            background-color: var(--second-color);
        }
    }

    &>h3 {
        color: var(--second-color)
    }

    &>#drop {
        display: none;
        border: none;
    }
}



span {
    color: var(--second-color);
    font-weight: 900;
    text-decoration: underline;
}

#site-title {
    color: var(--main-color);
    transition: border-width ease-in-out 300ms;
    height: 100%;

    &:hover {
        border-bottom: dashed white;
        border-bottom-width: 5px;
    }
}

@media (max-width:764px) {

    .info {
        position: fixed;
        flex-direction: column;
        overflow-y: scroll;

        
        &>#desc {
            position: relative;
        }

        &>.movie-poster {

            scale: 0.3;
        }
    }


    .start {

            width: 100%;
        
    }


    form.show {
        top: 0rem;
        background-color: rgb(0, 0, 0);
    }

    form {
        flex-direction: column;
        height: fit-content;
        position: fixed;
        top: -13rem;

        &>#search-bar {
            border: solid 1px black;
            width: 50%;

            &:not(:focus) {
                opacity: 1;

                &~#search-btn {
                    opacity: 1;
                }
            }
        }

        &>#drop {
            display: inline-block;
        }

        &>h3 {
            bottom: 0.5rem;
        }
    }
}